.container-header {
    background-color: #003580;
    position: relative;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}
.container-header::after {
    content: "";
    background-color: #fff;
    width: 100%;
    height: 25px;
    position: absolute;
    bottom: 0;

}

.header-content {
    max-width: 1200px;
    color: #fff;
    margin-bottom: 20px;
}

.header-content p {
    margin: 20px 0;
}

.header-content button {
    background-color: #0071c2;
    border: none;
    padding: 10px 20px;
    color: #fff;font-size: 18px;
}

.header-form {
    width: 1200px;
    margin: 0 auto;     
    z-index: 1;
    display: flex;
    justify-content: flex-end ;
}

.header-form form {    
    width: 100%;
    height: 50px;   
    background-color: #fff;
    display: flex;
    gap: 10px;
    border: 1px solid #febb02;
    align-items: center;
    border-radius: 5px;
    padding: 0 10px;
    flex: 1;
}

.header-form input {
    height: 30px;
    flex: 1;
    border: none;
    /* font-family: FontAwesome; */
    font-size: 18px;
    padding-left: 10px;
}
.header-form .calendar-wrap {
    flex: 1;
}
.header-button {
    height: 40px;
    width: 100px;
    color: #fff;
    background-color: #0071c2;
    border: none;
    font-size: 18px;
}