.type-list,
.type-list__header {
    display: flex;
    max-width: 1200px;;
    margin: 20px auto 0;
    gap: 20px;
}

.type-item {
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc((1200px - 40px)/5);
    border-radius: 20px;
    position: relative;
}
.type-item__text {
    color: #666;
    margin-left: 20px;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
}